body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(30, 30, 30);
}

#content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: center;
  flex-flow: row wrap;
}
.container {
  width: auto;
  display: inline-block;
  text-align: center;
  height: auto;
  padding: 30px;
  margin: 20px;
  background-color: rgb(20, 20, 20);
  border-radius: 5px;
  color: white;
  border: black 1px solid;
}

#linkGame a {
  text-decoration: none;
  color: white;
}

#itemQuality img {
  width: 400px;
}
#discordserver a img {
  width: 80px;
  height: 80px;
}